body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  margin-bottom: 40px;
  background-color: white;
}

h2 {
  color: #256D85;
  padding: 10px 12% 0 12%;
  margin-bottom: 5px;
}

h3 {
  color: #2B4865;
  padding: 0 12%;
  margin: 0;
}

h1 {
  color: white;
  background-color: #002B5B;
  padding: 20px 12%;
  margin: 0;
}

h1 > a {
  color:white;
}

a {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

a::before,
a::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}
a::before {
  background-color: #54b3d6;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #54b3d6;
}

a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
a:hover::after {
  transform: translate3d(0, 0, 0);
}

a span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a:hover span {
  transform: translate3d(-200%, 0, 0);
}

a {
  text-decoration: none;
  color: #18272F;
  font-weight: 700;
  vertical-align: top;
}
