body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  margin-bottom: 40px;
  background-color: white;
}

h2 {
  color: #256D85;
  padding: 10px 12% 0 12%;
  margin-bottom: 5px;
}

h3 {
  color: #2B4865;
  padding: 0 12%;
  margin: 0;
}

h1 {
  color: white;
  background-color: #002B5B;
  padding: 20px 12%;
  margin: 0;
}

h1 > a {
  color:white;
}

a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  text-decoration-color: #37a1c5;
  color: #002B5B;
  display: inline-block;
  margin: 3px 20px;
}

a:hover {
  background-color: #daeef5;
}
